*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(255, 136, 0);
    background-attachment: fixed;
}
header{
    position: sticky;
    max-width: 1200px;
    margin: 15px auto;
    background: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0, .2);
}
.logo{
    
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    padding: 0 10px ;
    /* background: #ccc; */
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
}
.logo img{
    border-radius: 16px;
    width: 90% ;
    height: 90%;
    margin-top: 3px;
}
nav{
    float: right;
}
nav ul{
     margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul i{
    font-size: 40px;
    margin: 10px;
    display: none;
}
nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: blue;

}
nav ul li a:hover{
    background: #454545;
    color: orange;
}
nav ul li a.active{
    background: #454545;
    color:  orange;
    transition: 1s;
}
.clearfix{
    clear: both;
}
.home{
    display: flex;
    max-width: 1200px;
    margin: 15px auto;
    height: 150px;
    background: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home h1{
   font-family: sans-serif;
   font-size: 30px;
   font-weight: 650;
   margin: 7px;
   color: orange;
}
.home h4{
   font-family: sans-serif;
   font-size: 20px;
   color: rgb(255, 255, 255);
 
}
.home p{
   font-family: sans-serif;
   color: orange;
 
}
.servicsBox{
    display: flex;
    max-width: 1200px;
    margin: 15px auto;
    height: auto;
    background: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(201, 190, 171);
}





#containerimg{
    position: relative;
    width: 1200px;
    display: flex;
    margin-left: 50px;
    /* margin-left: 180px; */
    flex-wrap: wrap;
}

#containerimg .imgbox{
 position: relative;
 display: flex;
 width: 320px;
 height: 350px;
 overflow: hidden;
 transition: 0.5s;
 margin: 20px;
/* border: 2px solid red; */
}
#containerimg .imgbox:hover{
z-index: 1;
transform: scale(1.15);
box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
}
#containerimg .imgbox .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#containerimg .imgbox .imgBx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,rgb(255, 0, 0),blue);
    mix-blend-mode: multiply;
    transition: 0.5;
    opacity: 0;
}
#containerimg .imgbox:hover .imgBx::before{
   opacity: 1;
}
#containerimg .imgbox .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-radius: 15px; */
    object-fit: cover;
}
#containerimg .imgbox .imgcontent{
   
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 z-index: 2;
 border: 4px solid rgb(255, 81, 0);
 display: flex;
 align-items: flex-end;
 padding: 25px;
}
#containerimg .imgbox .imgcontent h2{
    color: rgb(255, 81, 0);
    transition: 0.5s;
    margin-bottom: 5px;
    font-size: 25px;
    text-transform: uppercase;
    transform: translateY(200px);
}
#containerimg .imgbox:hover .imgcontent h2{
   transform: translateY(0);
   transition-delay: 0.2s;
}
#containerimg .imgbox .imgcontent p{
   color: rgb(255, 255, 255);
   transition: 0.5s;
  font-weight: 800;
   font-size: 15px;
   
   transform: translateY(200px);
}
#containerimg .imgbox:hover .imgcontent p{
   transform: translateY(0);
   transition-delay: 0.3s;
}


/* responsive hear */







