
@media(max-width: 1200px)
{
    header
        {
            margin: 20px;
        }
        .servicsBox{
            margin: 20px 20px 20px 20px;
        }
        .home{
            margin: 20PX;
      
            text-align: center;
        }
        #containerimg{
            position: relative;
            margin-left: auto;
            /* margin-left: 180px; */
             
        }
    
}
@media(max-width: 655px)
{
   .menubar
   
    {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background:#ccc;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #456545;
    }  
    .menubar::before{
        content: '\f0c9'; 
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menubar.active::before{
        content: '\f00d ';
         
    }
    .logo{
    
        height: 25px;
        font-size: 25px;
        line-height: 50px;
        padding: 0 5px ;
        /* background: #ccc; */
        box-sizing: border-box;
        float: left;
        font-weight: 500;
        text-decoration: none;
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
        
        width: 100%;
    }
    nav.active ul{
        display: block;
       
    }
   
    nav.active ul li a{
      margin: 0;
    }
    .home h1{
        font-family: sans-serif;
   font-size:20px;
   font-weight: 650;
   color: orange;
    }
    #containerimg{
        position: relative;
        
        display: flex;
        margin-left: 50px auto;
        /* margin-left: 180px; */
        flex-wrap: wrap;
    }
}
